<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Loja XYZ || Compras</title>
        <link rel="stylesheet" href="css/photon.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div class="window">
              <header class="toolbar toolbar-header">
		<h1 class="title">Loja XYZ</h1>
		 <div class="toolbar-actions">
			<div class="btn-group">
			  <a href="index.html" class="btn btn-default">
				<span class="icon icon-home"></span>
			  </a>
			  <!--<button class="btn btn-default">
				<span class="icon icon-folder"></span>
			  </button>
			  <button class="btn btn-default active">
				<span class="icon icon-cloud"></span>
			  </button>
			  <button class="btn btn-default">
				<span class="icon icon-popup"></span>
			  </button>
			  <button class="btn btn-default">
				<span class="icon icon-shuffle"></span>
			  </button>-->
			</div>

			<!--<button class="btn btn-default">
			  <span class="icon icon-home icon-text"></span>
			  Filters
			</button>

			<button class="btn btn-default btn-dropdown pull-right">
			  <span class="icon icon-megaphone"></span>
			</button>-->
	  </div>

	  </header>
              <div class="window-content">
                <div class="pane-group">
             <div class="pane-sm sidebar">
		  <nav class="nav-group">
  <h5 class="nav-group-title">Menu</h5>
  <a href="produtos.html" class="nav-group-item ">
    <span class="icon icon-layout"></span>
    Produtos
  </a>
  <a href="clientes.html" class="nav-group-item ">
    <span class="icon icon-users"></span>
    Clientes
  </a>
  <a href="vendas.html" class="nav-group-item active">
    <span class="icon icon-check"></span>
    Vendas
  </a>
  <a href="fornecedor.html" class="nav-group-item">
    <span class="icon icon-user"></span>
    Fornecedor
  </a>
  <a href="compras.html" class="nav-group-item">
    <span class="icon icon-bag"></span>
    Compras
  </a>

</nav></div>
                  <div class="pane">
                 <div class="pull-right"><button type="button" @click="createSale()" class="btn btn-primary">Cadastro de Venda</button></div>
                 <!--  <a href="index.html" class="btn btn-primary">Clientes</a>
         <a href="produtos.html" class="btn btn-primary">Produtos</a>
         <a href="vendas.html" class="btn btn-primary">Vendas</a> -->
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Cliente</th>
                        <th>Produto</th>
                        <th>Preço Un.</th>
                        <th>Qtd</th>
                        <th>Total</th>
                        <th>Ações</th>
                      </tr>
                    </thead>
                    <tboady>
                      <tr v-for="venda in vendas">
                        <td>{{venda.cliente}}</td>
                        <td>{{venda.produto}}</td>
                        <td>{{venda.preco | currency 'R$'}}</td>
                        <td>{{venda.qtd}}</td>
                        <td>{{venda.qtd*venda.preco | currency 'R$'}}</td>
                        <td><button type="button" class="btn btn-warning" @click="editSale(venda)">Editar</button></td>
                      </tr>
                    </tboady>
                  </table>
                  </div>
                </div>
              </div>
              <footer class="toolbar toolbar-footer">
                <h1 class="title">Desenvolvido por AntunesWeb</h1>
              </footer>

            </div>
            <!--ABERTURA DO MODAL DE EDIÇÃO-->
            <div id="modal" v-if="openModal">
              <div class="wrap">
                <form action="" class="pane-body" id="cadastro-venda">
                  <legend ><h3 v-if="mode=='cadastro'">Cadastro de Venda</h3>
                  <h3 v-if="mode=='edicao'">Editar Venda</h3></legend>
                  <div class="form-group">
                   <select class="form-control" name="" id="" v-model="sale.cliente">
                       <option value="{{c.nome}}" v-for="c in clientes">{{c.nome}}</option>
                   </select>
                  </div>
                  <div class="form-group">
                    <select class="form-control" name="" id="" v-model="sale.produto">
                        <option value="{{p.nome}}" v-for="p in produtos">{{p.nome}}</option>
                    </select>
                  </div>
                   <div class="form-group" v-if="mode=='edicao'">
                    <input type="text" class="form-control" v-model="sale.preco"  id="qtd" placeholder="Preço">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" v-model="sale.qtd"  id="qtd" placeholder="Quantidade">
                  </div>
                  <div class="form-group text-right">
                    <button type="button" class="btn btn-negative" @click="openModal=False" id="cancelar">Cancelar</button>
                    <button type="button" class="btn btn-positive" @click="saleStoreOrUpdate" id="salvar">Salvar</button>
                  </div>
                </form>
              </div>
            </div>
    </body>
    <script>
        var read = require('read-file-utf8');
        var loki = require('lokijs');
        var db = new loki('db.json');
        var data = read(__dirname+'/db.json');

        db.loadJSON(data);

        window.Vue = require('vue/dist/vue.js');
        //console.log(db);

        var vendas = db.getCollection('vendas');
        var clientes = db.getCollection('clientes');
        var produtos = db.getCollection('produtos');

        console.log(db);
        new Vue({
          el: 'body',
          data: {
              mode:'',
              openModal:false,
              vendas: [],
               clientes: [],
               produtos: [],
              sale:{
                  cliente:'',
                  produto:'',
                  preco:0,
                  qdt: 1
              }
          },
            ready: function(){
                this.produtos = produtos.data;
                this.vendas = vendas.data;
                this.clientes = clientes.data;
                //console.log(this.produtos);
            },
            methods:{
                editSale: function(sale){
                    this.mode='edicao';
                    this.openModal = true;
                    this.sale=sale;

                },
                createSale: function(){
                    this.mode='cadastro';
                    this.openModal = true;
                    this.sale = {
                        cliente:'',
                        produto:'',
                        preco:0,
                        qdt: 1
                    }

                },
                saleStoreOrUpdate: function(){
                    if(typeof this.sale.$loki != 'undefined'){
                        vendas.update(this.sale);
                    }else{
                        //console.log(produtos.find({nome:this.sale.produto})[0].preco);
                        this.sale.preco = produtos.find({nome:this.sale.produto})[0].preco;
                        vendas.insert(this.sale);
                    }
                    db.save();
                    this.openModal=false;
                }
            }
        });
    </script>
</html>
