<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Loja XYZ || Estoque</title>
        <link rel="stylesheet" href="css/photon.css" />
        <link rel="stylesheet" href="css/style.css" />

    </head>
    <body>
        <div class="window">
              <header class="toolbar toolbar-header">
		<h1 class="title">Loja XYZ</h1>
		 <div class="toolbar-actions">
			<div class="btn-group">
			  <a href="index.html" class="btn btn-default">
				<span class="icon icon-home"></span>
			  </a>
			  <!--<button class="btn btn-default">
				<span class="icon icon-folder"></span>
			  </button>
			  <button class="btn btn-default active">
				<span class="icon icon-cloud"></span>
			  </button>
			  <button class="btn btn-default">
				<span class="icon icon-popup"></span>
			  </button>
			  <button class="btn btn-default">
				<span class="icon icon-shuffle"></span>
			  </button>-->
			</div>

			<!--<button class="btn btn-default">
			  <span class="icon icon-home icon-text"></span>
			  Filters
			</button>

			<button class="btn btn-default btn-dropdown pull-right">
			  <span class="icon icon-megaphone"></span>
			</button>-->
	  </div>

	  </header>
              <div class="window-content">
                <div class="pane-group">
                 <div class="pane-sm sidebar">
		  <nav class="nav-group">
  <h5 class="nav-group-title">Menu</h5>
  <a href="produtos.html" class="nav-group-item ">
    <span class="icon icon-layout"></span>
    Produtos
  </a>
  <a href="clientes.html" class="nav-group-item ">
    <span class="icon icon-users"></span>
    Clientes
  </a>
  <a href="vendas.html" class="nav-group-item">
    <span class="icon icon-check"></span>
    Vendas
  </a>
  <a href="fornecedor.html" class="nav-group-item">
    <span class="icon icon-user"></span>
    Fornecedor
  </a>
  <a href="compras.html" class="nav-group-item">
    <span class="icon icon-bag"></span>
    Compras
  </a>
  <a href="estoque.html" class="nav-group-item active">
    <span class="icon icon-menu"></span>
    Estoque
  </a>

</nav></div>
                  <div class="pane">
                  <div class="pull-right"><button type="button" @click="createStock()" class="btn btn-primary">Cadastrar Estoque</button></div>
                 <!--  <a href="index.html" class="btn btn-primary">Clientes</a>
         <a href="produtos.html" class="btn btn-primary">Produtos</a>
         <a href="vendas.html" class="btn btn-primary">Vendas</a> -->
                     <table class="table table-striped">
                       <thead>
                         <tr>
                           <th>Produto</th>
                           <th>Preço Un. / de fábrica</th>
                           <th>Qtd</th>
                           <th>Ações</th>
                         </tr>
                       </thead>
                       <tboady>
                         <tr v-for="estoque in estoque">
                           <td>{{estoque.produto}}</td>
                           <td>{{estoque.preco | currency 'R$'}}</td>
                           <td>{{estoque.qtd}}</td>
                           <td>
                             <button type="button" class="btn btn-positive" @click="sellStock(produto)">Enviar para Prod. em Venda</button>
                           </td>
                         </tr>
                       </tboady>
                     </table>
                  </div>
                </div>
              </div>
              <footer class="toolbar toolbar-footer">
                <h1 class="title">Desenvolvido por AntunesWeb</h1>
              </footer>

            </div>
            <!--ABERTURA DO MODAL DE EDIÇÃO-->
            <div id="modal" v-if="openModal">
              <div class="wrap">
                <form action="" class="pane-body" id="cadastro-cliente">
                  <legend ><h3 v-if="mode=='cadastro'">Cadastro de Produto</h3>
                  <h3 v-if="mode=='edicao'">Enviar para Produtos</h3></legend>
                  <div class="form-group">
                    <input type="text" class="form-control" v-model="stock.nome" id="nome" placeholder="Nome">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control money" v-model="stock.preco"  id="preco" placeholder="Preço">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" v-model="stock.qtd"  id="qtd" placeholder="Quantidade">
                  </div>
                  <div class="form-group text-right">
                    <button type="button" class="btn btn-negative" @click="openModal=False" id="cancelar">Cancelar</button>
                    <button type="button" class="btn btn-positive" @click="stockStoreOrUpdate" id="salvar">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
    </body>
    <script>

        var read = require('read-file-utf8');
        var loki = require('lokijs');
        var db = new loki('db.json');
        var data = read(__dirname+'/db.json');

        db.loadJSON(data);

        window.Vue = require('vue/dist/vue.js');
        //console.log(db);
        //var produtos = db.addCollection('produtos');
        var estoque = db.getCollection('estoque');
       // db.save();
        console.log(db);
        new Vue({
          el: 'body',
          data: {
              mode:'',
              openModal:false,
              estoque: [],
              stock:{
                  nome:'',
                  preco:'',
                  qdt: 0
              }
          },
            ready: function(){
                this.estoque = estoque.data;
                //console.log(this.produtos);
            },
            methods:{
                editStock: function(stock){
                    this.mode='edicao';
                    this.openModal = true;
                    this.stock=stock;

                },
                createStock: function(){
                    this.mode='cadastro';
                    this.openModal = true;
                    this.stock = {
                        nome:'',
                        preco:'',
                        qtd:''
                    }

                },
                sellStock: function(product){
                    this.mode='edicao';
                    this.openModal = true;
                    this.stock=stock;

                },
                stockStoreOrUpdate: function(){
                    if(typeof this.stock.$loki != 'undefined'){
                        estoque.update(this.stock)
                    }else{
                        estoque.insert(this.stock);
                    }
                    db.save();
                    this.openModal=false;
                }
            }
        });

    </script>
</html>
